@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
    --color_dark:#f1e3e3;
    --color_light:rgba(192,45,80,0.32);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
    background-color: rgba(241,227,227,0.4);
}
nav{
    display: flex;
    justify-content: flex-end;
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    margin-right: 120px;
}
.login{
    margin-left: 3.2rem;
}
nav ul li{
    font-weight: 1000;
    font-size: 1rem;
}
nav ul li a{
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
}
.chatpanal{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sendchat{
    display: flex;
    margin-top: 20px;
    z-index: 2;
    width: 100%;
}
.sendchat img{
    background:rgba(233, 242, 213, 0.51) ;
    width: 26px;
}
.sendchat input{
    border: none;
    width: 100%;
    background: rgba(233, 242, 213, 0.51);
    padding: 10px 33px;
    border-radius: 5px;
}
.sendchat input::placeholder{
    padding: 10px 33px;
}
.sendchat img{
    border-radius: 5px;
}
.sendchat input:focus{
    outline: none;
}
.chatpanal{
    display:flex;
            flex-direction: column;
            margin: auto;
            justify-content: space-around;
            align-items: center;
            height: 65vh;
            margin-top:15vh;
            max-width: 330px;
            border-radius: 5px;

            position: relative;
    text-align: center;
    padding: 20px 0;
    
}
.chatbox{
    overflow: auto;
    width: 100%;
    height: 100%;
    background: white;
box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.chatbox div img{
    max-width: 20px;
}
.messages{
    max-width: 50%;
    display: flex;
    margin: 5px;
    padding:10px;
}
.messages p{
    background: rgb(54, 119, 240);
    padding: 6px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}
.messages:nth-child(2){
    align-self: end;
}
.background{
    border-radius: 50%;
    bottom: 0;
    height: 153vh;
    width: 178vh;
    position: fixed;
    background-color: rgba(192, 45, 80, 0.32);
    transform: translate(-419px,677px);
    background:radial-gradient(closest-corner at 47% 61%,rgba(192, 45, 80, 3),rgba(90, 84, 205, 0.2));
}

/* @media only screen and (max-width:900px){
    .chatbox{
        width: 40vw;
    }
}
@media only screen and (max-width:700px){
    .chatbox{
        width: 50vw;
    }
}
@media only screen and (max-width:600px){
    .chatbox{
        width: 70vw;
    }
} */