@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
    --color_dark:#f1e3e3;
    --color_light:rgba(192,45,80,0.32);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
    background-color: rgba(241,227,227,0.4);
}.background{
    border-radius: 50%;
    bottom: 0;
    height: 153vh;
    width: 178vh;
    position: fixed;
    background-color: rgba(192, 45, 80, 0.32);
    transform: translate(-419px,677px);
    background:radial-gradient(closest-corner at 47% 61%,rgba(192, 45, 80, 3),rgba(90, 84, 205, 0.2));
}

.central_bar{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    margin-top: 10vh;
    width: 50vw;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
.central_bar div p{
    width: 90%;
    margin: 0 auto;
}
.central_bar div img{
    width: 33%;
    border-radius: 5px;
}
.central_bar div button{
    border: none;
    border-radius: 1em;
    padding: 10px;
    width: 10rem;
    background: linear-gradient(178.01deg, #5B3BB9 1.68%, #BC3A80 98.33%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: white;
}
@media only screen and (max-width:600px){
    .background{
        height: 111vh;
    width: 126vh;
    transform: translate(-430px,397px);
    }
}
@media only screen and (max-width:400px){
    .central_bar{
        width: 85vw;
    }
}